Add OnPing/OnPong(byte[]) callbacks

We use a timestamp payload in Ping/Pong-frames to estimate server time on devices. Ping/Pong frames are regularly exchanged, small, and have no meaningful processing overhead on the server, so they seem to be a good choice for such synchronization.

Currently, this requires us to tinker with the BestHTTP sources, hence the enhancement request to add OnPing/OnPong(byte[]) callbacks.

As per RFC 6455, Section 5.5 "All control frames MUST have a payload length of 125 bytes or less and MUST NOT be fragmented.", so implementation should be very straightforward ;)

The plugin already uses pings to send time information and calculates latency when receiving back a pong message.
You can set `StartPingThread` and `PingFrequency` then you should see `Latency` change over time.